.project
.settings
.classpath
.idea
.gradle
target
build
deploy
deploy-*
*.iml
nb-configuration.xml
reports
*.*~
.metadata
build *.txt
.vagrant
*-local-config.cmd
bin
res/scripts/bat/set-env.cmd

*.log

node_modules
dist